################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CosmosDB/obj
/CosmosDB/bin/Debug/netcoreapp3.1
/CosmosDB/CosmosDB.csproj.user
/.vs
